@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: sans-bold;
  src: url("./assets/fonts/6318ff854e763de1f0988534_GeneralSans-Bold.woff2");
}
@font-face {
  font-family: sans-medium;
  src: url("./assets/fonts/6318ff85598564ab56a05c6d_GeneralSans-Medium.woff2");
}

:root {
  /* #F8F8F8 */
  --primary-color: #f8f8f8;
  --primary-foreground-color: #111111;
  --font-bold: sans-bold;
  --font-medium: sans-medium;
  --dark-card-bg: #1d1d1d;
  --text-gradient: linear-gradient(180deg, #fff, #adadad);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  font-family: var(--font-medium), system-ui;
  /* background: radial-gradient(
      circle,
      rgba(170, 66, 66, 0.322) 20%,
      transparent 20%
    )
    repeat;
  background-size: 20px 20px; */
}

[theme="light"] {
  background-color: var(--primary-color);
  color: var(--primary-foreground-color);
}
[theme="dark"] {
  background-color: var(--primary-foreground-color);
  color: var(--primary-color);
}

[theme="dark"] .text {
  background: var(--text-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* .text {
  background: var(--text-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

.light-gradient {
  background: var(--text-gradient);
}
.bg-dot-pattern-light {
  background: radial-gradient(
      circle,
      rgba(185, 185, 185, 0.096) 20%,
      transparent 20%
    )
    repeat;
  background-size: 20px 20px;
}

#mouse {
  height: 200px;
  width: 200px;
  position: fixed;
  border-radius: 50%;
  translate: -50% -50%;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: cyan; */
  filter: blur(180px);
  pointer-events: none;
}

[theme="light"] #mouse {
  background-color: orange;
  color: var(--primary-color);
}
[theme="dark"] #mouse {
  background-color: cyan;
  color: var(--primary-foreground-color);
}

.bg-dot-pattern-dark {
  background: radial-gradient(circle, rgb(161, 151, 151) 20%, transparent 20%)
    repeat;
  background-size: 20px 20px;
}

@layer utilities {
  .chip {
    @apply px-4 py-1 border border-primary rounded-full;
  }
}
